.page-login
    background-color: #3aacdc;
    padding-top: 54px;

    .lt-login-content
        background: #3aacdc url(../img/loginBg.jpg);
        background-position: 50% 50%;
        margin: 0 auto;
        width: 100%;
        height: 930px;

        .login-form
            background-color: #fff;
            height: auto;
            position: absolute;
            right: 16%;
            top: 22.3%;
            text-align: center;
            width: 494px;
            
            .hdTitle
                border-bottom: 1px solid #dadada;
                color: #626161;
                font-size: 28px;
                line-height: 76px;
                margin: 5px 25px 42px 25px;

            .ant-input
                border:1px solid #cecece;
                border-radius: 5px;
                height: 50px;
                font-size: 14px;
                padding-left: 46px;
                width: 393px;

            .ant-form-item
                margin-bottom: 30px;

            .ant-form-item-control 
                height: 50px;
                line-height: @height;

            .has-error .ant-form-explain
                text-align: left;

            .item
                position: relative;

            .anticon-user, .anticon-lock
                position: absolute;
                left: 64px;
                top: 10px;
                font-size: 26px;
                z-index: 9;
                color: #999;

            .ant-form-explain
                font-size: 14px;

        .pageBtn-wrap
            margin-top: 38px;
            margin-bottom: 40px;

            .ant-form-item
                width: 494px;
                text-align: center;

            .ant-form-item-control
                height: 50px;
                line-height: @height;

            .ant-btn
                border-radius: 5px;
                font-size: 20px;
                height: 54px;
                margin-right: 0;
                width: 393px;


    .lt-login-footer
        height: 96px
        background: #2e3033
        position: fixed
        bottom: 0
        left: 0
        right: 0
        color: #b3b3b3

        .logo
            width: 380px
            float: left
        .main
            float: left

        .right
            width: 180px
            float: right